# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\cgmr2\OneDrive\Universidad\4º CURSO - 2º CUATRI\TEORÍA DE CÓDIGOS\AudioRecovery\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
